<footer class="footer">
  <div class="footer-github">
    <a href="https://github.com/natnichols/cryptid-collector">
      <i class="fab fa-github"></i> View this Project on GitHub
    </a>
  </div>
</footer>
</body>
</html>
