<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/4da7a940f0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link 
      id="favicon"
      rel="icon" 
      href="./public/images/Mothman_favicon.png" 
      type="image/png"
      sizes="27x32">
    <title><%= title %></title>
    <h1 id="page-header">Cryptid Collector</h1>