.main {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vh;
  margin: 2vh;
  max-width: 160vh;
}

.text-decoration-none {
  text-decoration: none;
}

.card {
  display: flex;
  width: 30vh;
  background-color: rgba(0, 0, 0, 0.486);
  border: .2vh solid #B6CEC3;
  border-radius: 1vh;
  color: #B6CEC3;
  padding: 1vh;
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.614);
}

.card > img {
  border-radius: 1vh;
  border: .1vh solid #B6CEC3;
  height: 9.6vh;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-size: 2.4vh;
  margin: 0 1vh;
}

.card-title:hover {
  color: #139f81;
}

