.main {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
  max-width: 1600px;
}

.text-decoration-none {
  text-decoration: none;
}

.card {
  display: flex;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.486);
  border: 2px solid #B6CEC3;
  border-radius: 10px;
  color: #B6CEC3;
  padding: 10px;
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.614);
}

.card > img {
  border-radius: 10px;
  border: 1px solid #B6CEC3;
  height: 96px;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-size: 24px;
  margin: 0 10px;
}

.card-title:hover {
  color: #139f81;
}

