form > button {
  grid-column: span 2;
  width: 160px;
  margin-left: auto;
  font-size: 22px;
}

form > button:hover {
  background-color: lightgreen;
  cursor: pointer;
}

/* #entry-input > textarea {
  width: 250px;
} */

#new-diary-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  justify-content: center;
  align-self: center;
}

.new-diary-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.486);
  border: 2px solid #B6CEC3;
  border-radius: 10px;
  color: #B6CEC3;
  padding: 25px;
  gap: 20px;
  margin: 20px;
  max-width: 1500px;
  width: 1100px;
}

#subject-input {
  margin: 13px;
  width: 350px;
}

#posted-date-input {
  margin: 13px;
  width: 350px;
}

#entry-input {
  margin: 13px;
  width: 500px;
  height: 125px;
}

#create-diary-btn {
  margin: 15px;
  width: 250px;
}
