section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.486);
  border: .2vh solid #B6CEC3;
  border-radius: 1vh;
  color: #B6CEC3;
  padding: 2.5vh;
  gap: 1vh;
  margin: 2vh;
  max-width: 150vh;
  width: 110vh;
}

.cryptid-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.486);
  border: .2vh solid #B6CEC3;
  border-radius: 1vh;
  color: #B6CEC3;
  padding: 5vh;
  gap: 1vh;
  margin: 1vh;
  max-width: 180vh;
  width: 110vh;
}

#my-cryptid-container, #fave-cryptid-container {
  margin: 1vh;
}

.diary-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.486);
  border: .2vh solid #B6CEC3;
  border-radius: 1vh;
  color: #B6CEC3;
  padding: 5vh;
  gap: 1vh;
  margin: 1vh;
  max-width: 180vh;
  width: 110vh;
}

.edit-delete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

li {
  margin: .5vh;
}

#new-diary-button {
  font-size: 2.5vh;
}

.profile-avatar {
  margin: 1vh;
}

#edit-diary-btn{
  margin: 1.5vh;
  width: 34.5vh;
  padding: .8vh;
}

#delete-diary-btn{
  margin: 1.5vh;
  width: 34.5vh;
  padding: .8vh;
}