html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-image: url('/images/header-trees.jpg');
  background-size: auto;
  background-position: center;
  margin: 0;
  color: #B6CEC3;
  font-family: 'Barlow', sans-serif;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
  font-size: 18px;
}

footer {
  font-family: 'Barlow', sans-serif;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
  color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  min-height: 60px;
  border: 2px solid #B6CEC3;
  border-radius: 10px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

h1 {
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin: 0;
  color: #d39c06;
}

h2 {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3px;
  color: #d39c06;
}

h3 {
  font-size: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1px;
}

ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1px;
}

p, label, button, input {
  font-size: 25px;
}

li {
  word-spacing: .75px;
  font-size: 33px;
}

label {
  font-weight: bold;
}

a {
  color: #139f81;
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
}

a:hover {
  color: #d8ba69;
  cursor: pointer;
}

pre {
  font-size: 14px;
}

nav > a {
  margin: 8px 40px;
  text-decoration: none;
  font-size: 33px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  margin: 5px 10px;
  border: 1px solid #d6b559;
  border-radius: 8px;
  padding: 5px;
  background-color: black;
  color: #B6CEC3;
  font-size: 20px;
  width: 300px;
}

.btn:hover{
  cursor: pointer;
  background-color: #d6b559;
  color: black;
}

#nav-btn {
  padding: 10px 15px;
  max-width: max-content;
}

.link {
  padding: 12px 0;
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
}

.profile-avatar {
  margin-top: 50px;
}

.inline {
  display: inline;
}

.profile-photo, .comment-photo {
  width: 30px;
}

li {
  display: flex;
  align-items: center;
}

#page-header {
  background-color: rgba(0, 0, 0, 0.35);
}

.root-route-view-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.486);
  border: 2px solid #B6CEC3;
  border-radius: 10px;
  color: #B6CEC3;
  padding: 50px;
  gap: 20px;
  margin: 20px;
  max-width: 1800px;
}

.footer {
  position: absolute;
  bottom: 10px;
  margin-top: 2500px;
}

.footer-github {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-github > a {
  color: #d39c06;
  font-style: oblique;
  font-size: 18px;
  /* align-self: center; */
}

#g_id_onload {
  margin: 8px 60px;
  text-decoration: none;
  font-size: 33px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.g_id_signin {
  margin: 8px 60px;
  text-decoration: none;
  font-size: 33px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.root-route-view-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  background-color: rgba(0, 0, 0, 0.486);
  border: 2px solid #B6CEC3;
  border-radius: 10px;
  color: #B6CEC3;
  padding: 20px;
}