html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-image: url('/images/header-trees.jpg');
  background-size: auto;
  background-position: center;
  margin: 0;
  color: #B6CEC3;
  font-family: 'Barlow', sans-serif;
  grid-template-rows: 5vh 1fr;
  grid-template-areas:
    "nav"
    "main";
  font-size: 1.8vh;
}

footer {
  font-family: 'Barlow', sans-serif;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
  color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh;
  min-height: 6vh;
  border: .2vh solid #B6CEC3;
  border-radius: 1vh;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

h1 {
  font-size: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2vh;
  margin: 0;
  color: #d39c06;
}

h2 {
  font-size: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: .3vh;
  color: #d39c06;
}

h3 {
  font-size: 3.3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: .1vh;
}

ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .1vh;
}

p, label, button, input {
  font-size: 2.5vh;
}

li {
  word-spacing: .075vh;
  font-size: 3.3vh;
  display: flex;
  align-items: center;
}

label {
  font-weight: bold;
}

a {
  color: #139f81;
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
}

a:hover {
  color: #d8ba69;
  cursor: pointer;
}

pre {
  font-size: 1.4vh;
}

nav > a {
  margin: .8vh 4vh;
  text-decoration: none;
  font-size: 3.3vh;
  letter-spacing: .2vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  margin: .5vh 1vh;
  border: .1vh solid #d6b559;
  border-radius: .8vh;
  padding: .5vh;
  background-color: black;
  color: #B6CEC3;
  font-size: 2vh;
  width: 30vh;
}

.btn:hover{
  cursor: pointer;
  background-color: #d6b559;
  color: black;
}

#nav-btn {
  padding: 1vh 1.5vh;
  max-width: max-content;
}

.link {
  padding: 1.2vh 0;
  font-size: 1.8vh;
  display: inline-block;
  cursor: pointer;
}

.profile-avatar {
  margin-top: 5vh;
}

.inline {
  display: inline;
}

.profile-photo, .comment-photo {
  width: 3vh;
}

#page-header {
  background-color: rgba(0, 0, 0, 0.35);
}

.root-route-view-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.486);
  border: .2vh solid #B6CEC3;
  border-radius: 1vh;
  color: #B6CEC3;
  padding: 5vh;
  gap: 2vh;
  margin: 2vh;
  max-width: 180vh;
}

.footer {
  bottom: 1vh;
}

.footer-github {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-github > a {
  color: #d39c06;
  font-style: oblique;
  font-size: 1.8vh;
}

#g_id_onload {
  visibility: hidden;
  display: none;
}

.g_id_signin {
  margin: .8vh 6vh;
  text-decoration: none;
  font-size: 3.3vh;
  letter-spacing: .2vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.root-route-view-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vh;
  background-color: rgba(0, 0, 0, 0.486);
  border: .2vh solid #B6CEC3;
  border-radius: 1vh;
  color: #B6CEC3;
  padding: 2vh;
}

#spotted-comment {
  font-size: 2.5vh;
  font-style: italic;
}