html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-image: url('/images/header-trees.jpg');
  background-size: auto;
  background-position: center;
  margin: 0;
  color: #B6CEC3;
  font-family: 'Barlow', sans-serif;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
  font-size: 18px;
}

nav {
  background-color: #f6f6f61b;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  min-height: 60px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

h1 {
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3px;
}

h3 {
  font-size: 33px;
  margin: 1px;
}

ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1px;
}

p, label, button, input {
  font-size: 25px;
}

li {
  word-spacing: .75px;
  font-size: 33px;
}

label {
  font-weight: bold;
}

section {
  padding: 50px;
}

a {
  color: #139f81;
  text-decoration: none;
}

pre {
  font-size: 14px;
}

nav > a {
  margin: 8px 60px;
  text-decoration: none;
  font-size: 33px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  margin: 5px 10px;
  border: 1px solid #B6CEC3;
  border-radius: 8px;
  padding: 5px;
  background-color: black;
  color: #B6CEC3;

}

.btn:hover{
  cursor: pointer;
  background-color: #B6CEC3;
  color: black;
}

.link {
  padding: 12px 0;
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
}

.profile-avatar {
  margin-top: 50px;
}

.inline {
  display: inline;
}

.profile-photo, .comment-photo {
  width: 20px;
}

li {
  display: flex;
  align-items: center;
}
