section {
  display: flex;
  justify-content: center;
  align-self: center;
}

.edit-comment-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.486);
  border: .2vh solid #B6CEC3;
  border-radius: 1vh;
  color: #B6CEC3;
  padding: 2.5vh;
  gap: 2vh;
  margin: 2vh;
  max-width: 150vh;
  width: 110vh;
}

#edit-comment-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

#content-input {
  margin: 1.3vh;
  width: 50vh;
  height: 12.5vh;
}

#update-comment-btn {
  margin: 1.5vh;
  width: 25vh;
}