section {
  display: flex;
  justify-content: center;
  align-self: center;
}

.sightings-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.486);
  border: .2vh solid #B6CEC3;
  border-radius: 10px;
  color: #B6CEC3;
  padding: 2.5vh 5vh 5vh 5vh;
  gap: 2vh;
  margin: 2vh;
  max-width: 180vh;
}

#fave-btn {
  width: 4vh;
  margin-left: 1.5vh;
}

li {
  margin: 1vh;
}