form > button {
  grid-column: span 2;
  width: 16vh;
  margin-left: auto;
  font-size: 2.2vh;
}

form > button:hover {
  background-color: lightgreen;
  cursor: pointer;
}

#new-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1vh;
}

.new-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.486);
  border: .2vh solid #B6CEC3;
  border-radius: 1vh;
  color: #B6CEC3;
  padding: 1vh;
  gap: 2vh;
  margin: 3vh;
  max-width: 150vh;
  width: 110vh;
}

#cryptid-name-input {
  margin: 1.3vh;
  width: 35vh;
}

#spotted-date-input {
  margin: 1.3vh;
  width: 35vh;
}

#description-input {
  margin: 1.3vh;
  width: 50vh;
  height: 12.5vh;
}

#add-cryptid-btn {
  margin: 1.5vh;
  width: 23vh;
}