section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cryptid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.486);
  border: .2vh solid #B6CEC3;
  border-radius: 1vh;
  color: #B6CEC3;
  padding: 2.5vh;
  gap: 2vh;
  margin: 2vh;
  max-width: 150vh;
  width: 110vh;
}

#cryptid-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 50vh;
}

.edit-delete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.comments-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.486);
  border: .2vh solid #B6CEC3;
  border-radius: 1vh;
  color: #B6CEC3;
  padding: 2.5vh;
  gap: 2vh;
  margin: 1vh;
  max-width: 180vh;
  width: 110vh;
}

.add-comment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.486);
  border: .2vh solid #B6CEC3;
  border-radius: 1vh;
  color: #B6CEC3;
  padding: 2vh;
  gap: 2vh;
  margin: 1vh;
  max-width: 180vh;
  width: 110vh;
}

#add-comment-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

#comment-input{
  margin: 1.3vh;
  width: 35vh;
}

#spotted-chckbx-input{
  margin: 1.3vh;
  width: 35vh;
}

#edit-cryptid-btn{
  margin: 1.5vh;
  width: 22vh;
}

#delete-cryptid-btn{
  margin: 1.5vh;
  width: 22vh;
}

#comment-btn{
  margin: 1.5vh;
  width: 23vh;
}

.profile-photo, .comment-photo {
  width: 5vh;
}

#edit-comment-btn {
  width: 4.3vh;
}

#delete-comment-btn {
  width: 4.3vh;
}

h3 {
  width: 80vh;
}

h2 {
  margin-bottom: 1vh;
}

ul {
  margin: 1vh;
  padding: 0;
}

#single-comment-container {
  margin: 1.5vh;
}

#comment-info {
  font-size: 2.8vh;
}

#fave-btn {
  width: 4vh;
  margin-left: 1.5vh;
}